{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Level Spotter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-wodth, initial-scale=1.0">
	<link type="text/css" href="{% static 'spotter/css/style_1.css' %}" rel="stylesheet">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<script src="{% static 'spotter/js/addDigit.js' %}" defer></script>
</head>

	<li class="open_index">

		<div class="div_number">

			<div class="div-img">
				<img class="img-index" src="{% static 'spotter/images/img-index_1.png' %}">
			</div>

			<h1 class="title-container">Введіть значення на яке буде скоригований прилад</h1>

			<form method="get" action="{% url 'index_2' %}" name="form_correct">

				<ul class="our-form">
					<li>
						<div class="input-wrapper">
							<img class="input-icon" src="{% static 'spotter/images/transparent_back.png' %}" id="status-icon">

							<input type="text" id="display-input" class="display_number" name="correct_value" readonly="readonly" placeholder="0" maxlength="3">

							<span class="unit-label">мм</span>
						</div>
					</li>

					<li>
						<ul class="cell_back-and-accept">
							<li><button class="btn-back" form="click_back" type="submit">Назад</button></li>
							<li><button class="btn-accept" type="submit">Прийняти</button></li>
						</ul>
					</li>
					<li>
						<table class="table_number">
							<tr>
								<td><input type="button" class="btn_num" value="1" onclick="addDigit('1')"></td>

								<td><input type="button" class="btn_num" value="2" onclick="addDigit('2')"></td>

								<td><input type="button" class="btn_num" value="3" onclick="addDigit('3')"></td>
							</tr>
							<tr>
								<td><input type="button" class="btn_num" value="4" onclick="addDigit('4')"></td>

								<td><input type="button" class="btn_num" value="5" onclick="addDigit('5')"></td>

								<td><input type="button" class="btn_num" value="6" onclick="addDigit('6')"></td>
							</tr>
							<tr>
								<td><input type="button" class="btn_num" value="7" onclick="addDigit('7')"></td>

								<td><input type="button" class="btn_num" value="8" onclick="addDigit('8')"></td>

								<td><input type="button" class="btn_num" value="9" onclick="addDigit('9')"></td>
							</tr>
							<tr>
								<td><input type="button" class="btn_num" value="-" onclick="addDigit('-')"></td>

								<td><input type="button" class="btn_num" value="0" onclick="addDigit('0')"></td>

								<td><input type="button" class="btn_num" value="<" onclick="addDigit('<')"></td>
							</tr>
						</table>
					</li>
				</ul>
			</form>

			<form action="{% url 'spotter' %}" id="click_back"></form>

		</div>

	</li>

</html>

{% endblock %}