{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>LevelSpotter</title>
	<link type="text/css" href="{% static 'spotter/css/style.css' %}" rel="stylesheet">
</head>
<body>

	<div>
		<h1>Шкала приладу</h1>

		<form method="get" action="{% url 'index_1' %}" >
			<ul class="list_csale">
				<li><button type="submit" class="btn" name="csale" value="630">± 315 мм | 630 мм</button></li>
				<li><button type="submit" class="btn" name="csale" value="900">900 мм</button></li>
				<li><button type="submit" class="btn" name="csale" value="1000">1000 мм</button></li>
				<li><button type="submit" class="btn" name="csale" value="1600">1600 мм</button></li>
				<li><button type="submit" class="btn" name="csale" value="2000">2000 мм</button></li>
				<li><button type="submit" class="btn" name="csale" value="2500">2500 мм</button></li>
				<li><button type="submit" class="btn" name="csale" value="4000">4000 мм</button></li>
			</ul>
		</form>
	</div>

</body>
</html>