<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LevelSpotter</title>
</head>
<body>
    <h1>Шкала приладу</h1>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="630">630</button>
	</form>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="900">900</button>
	</form>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="1000">1000</button>
	</form>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="1600">1600</button>
	</form>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="2000">2000</button>
	</form>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="2500">2500</button>
	</form>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="4000">4000</button>
	</form>

</body>
</html>