<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LevelSpotter</title>
</head>
<body>
    <h1>Шкала приладу</h1>

	<form method="get" action="{% url 'index_1' %}">
<!--		{% csrf_token %}-->
<!--		{{form.as_p}}-->
		<button type="submit" name="csale" value="630">630</button>
	</form>

	<form method="get" action="{% url 'index_1' %}">
		<button type="submit" name="csale" value="900">900</button>
	</form>

	<form action="{% url 'index_1' %}">
		<button type="submit">1000</button>
	</form>

	<form action="{% url 'index_1' %}">
		<button type="submit">1600</button>
	</form>

</body>
</html>