{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Level Spotter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-wodth, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'start_page/css/style_start.css' %}">
	
</head>
	<body>

		<div class="start_container">
			<ul class="logo-line">
				<li><img class="logo-icon" src="{% static 'start_page/images/logo.png' %}" ></li>
				<li><h1 class="logo">Level Spotter</h1></li>
			</ul>	

			<div class="start_index">

				<section class="Home">
					<div class="text-box">
						<h1>Корегування приладів</h1>
						<h1>виміру рівня рідини</h1>
						<p>Використовується датчики Сафір-М 7xxx-серії виробництва Манометр-Харків</p>
					</div>
				</section>

				<ul class="sections">
					<li class="btn-slides-back">
						<div class="btn-sections animation-button animation-delay-0s">
							<a class="name-section">КОРЕГУВАННЯ</a>
						</div>
					</li>

					<li class="btn-slides-back">
						<div class="btn-sections animation-button animation-delay-05s">
							<a class="name-section">РОЗМІЩЕННЯ</a>
						</div>
					</li>

					<li class="btn-slides-back">
						<div class="btn-sections animation-button animation-delay-1s">
							<a class="name-section">ІНСТРУКЦІЯ</a>
						</div>
					</li>

					<li class="btn-slides-back">
						<div class="btn-sections animation-button animation-delay-15s">
							<a class="name-section">ЗАВАНТАЖИТИ</a>
						</div>
					</li>
				</ul>
			</div>
		</div> 
	</body>
</html>
