{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Level Spotter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-wodth, initial-scale=1.0">
	<link type="text/css" href="{% static 'instructions/css/style_instructions.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <li class="open_index">
        <div class=div_csale>
             <video class="video" src="{% static 'instructions/video/instruct-video.mp4' %}" poster="{% static 'instructions/images/video-placeholder.jpg' %}" controls></video>
        </div>
    </li>
</html>

{% endblock %}