{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Level Spotter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-wodth, initial-scale=1.0">
	<link type="text/css" href="{% static 'instructions/css/style_instructions.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <h1 class="hello">Hello instructions</h1>
</html>

{% endblock %}