{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Level Spotter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-wodth, initial-scale=1.0">
<!--	<link type="text/css" href="{% static 'spotter/css/style.css' %}" rel="stylesheet">-->
<!--	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
</head>

<p style="padding: 20% 30%; font-size: 30px; color: green">Page Download App</p>

</html>

{% endblock %}