{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Level Spotter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-wodth, initial-scale=1.0">
	<link type="text/css" href="{% static 'download_app/css/style_download.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <li class="open_index">
            <div class=div_csale>
                <a class="download-button" href="{% static 'download_app/app/Level_Spotter.apk' %}" download="Level_Spotter.apk">
                    <ul>
                        <li><p class="text-btn">Завантажити додаток</p></li>
                        <li><p class="size-app">розмір: 30,37 МБ</p></li>
                    </ul>
                    <i class='bx bxl-android android-logo'></i>
                    <i class='bx bxs-download download-logo'></i>
                </a>
            </div>
    </li>
</html>

{% endblock %}