{% load static %}
<head>
	<link type="text/css" href="{% static 'spotter/includes/base_1.css' %}" rel="stylesheet">
</head>

<nav class="navbar">
    <div class="container">
        <img src='logo.png'>
        <a href=# class="navbar-brend">Level Spotter</a>

        <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li><a href=#>Калькулятор</a></li>
                <li><a href=#>Росположение</a></li>
                <li><a href=#>Завантажити додаток</a></li>
            </ul>
        </div>
    </div>
</nav>
